ion-card-content h1{
    color: white;
    font-weight: bold;
}
ion-card-content p{
    color: white;
}
.red{
    background-color: #832C3D;
}
ion-item{
    --background: transparent;
    --box-shadow: none;
}
.red{
  --background: #832C3D;
  --background-hover: #783333;
}
