<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button defaultHref="inicio" text="Regresar"> </ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="red">
    <ion-card-content>
      <h1 class="ion-title">Más información</h1>
      <p>Aquí podrás consultar más información de tu perfil de estudiante.</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Infomación general
        </ion-card-title>
      </ion-card-header>
      <ion-item lines="full">
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input value="{{ full_name }}" ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Apellido paterno</ion-label>
        <ion-input value="{{ first_lastname }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Apellido paterno</ion-label>
        <ion-input value="{{ second_lastname }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">CURP</ion-label>
        <ion-input value="{{ CURP }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input value="{{ phone }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">CURP</ion-label>
        <ion-input value="{{ NSS }}"></ion-input>
      </ion-item>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Datos personales
        </ion-card-title>
      </ion-card-header>
      <ion-item lines="full">
        <ion-label position="stacked">Sexo</ion-label>
        <ion-input value="{{ gender }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Estado civil</ion-label>
        <ion-input value="{{ marital_status }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input value="{{ address }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Código postal</ion-label>
        <ion-input value="{{ postal_code }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Correo personal</ion-label>
        <ion-input value="{{ personal_email }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Religión</ion-label>
        <ion-input value="{{ religion }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Peso</ion-label>
        <ion-input value="{{ weight }}"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Altura</ion-label>
        <ion-input value="{{ height }}"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
