<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button defaultHref="inicio" text="Regresar"> </ion-back-button>
      </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="red">
    <ion-card-content>
      <h1 class="ion-title">Créditos complementarios</h1>
      <p>Aquí podrás realizar tu trámite para validar tus créditos complementarios.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form action="">
        <ion-card-header>
          <ion-card-title>
            Crédito complementario 1
          </ion-card-title>
        </ion-card-header>
        <ion-card [ngClass]="{ 'viewed': status_credit_1 === 'VIEWED', 'pending': status_credit_1 === 'PENDING' && name_credit_1 !== null && description_credit_1 !== null && url_evidence_credit_1 !== null && value_credit_1 !== null }">
        <ion-item lines="full">
          <ion-label position="stacked">Actividad</ion-label>
          <!-- En el cred 1 nunca va a regresar null, siempre "", en los demas necesitamos la condicion null -->
          <ion-input [(ngModel)]="name_credit_1" [disabled]="status_credit_1 === 'VIEWED'" name="name_credit_1"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_1" [disabled]="status_credit_1 === 'VIEWED'"  name="description_credit_1"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_1" [disabled]="status_credit_1 === 'VIEWED'" name="url_evidence_credit_1"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select  [(ngModel)]="value_credit_1" [disabled]="status_credit_1 === 'VIEWED'" name="value_credit_1">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_1.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_1.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_1.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_1.includes('PENDING')" class="pending-label">Pendiente</ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header>
          <ion-card-title>
            Crédito complementario 2
          </ion-card-title>
        </ion-card-header>
              <!-- El null de terminar lo regresa como texto (raro)-->
        <ion-card [ngClass]="{ 'viewed': status_credit_2 === 'VIEWED', 'pending': status_credit_2 === 'PENDING' && name_credit_2 !== 'null'  && description_credit_2 !== 'null'  && url_evidence_credit_2 !== 'null'  && value_credit_2 !== 'null'}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_2" [disabled]="status_credit_2 === 'VIEWED'" name="name_credit_2" ></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_2" [disabled]="status_credit_2 === 'VIEWED'" name="description_credit_2"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_2 " [disabled]="status_credit_2 === 'VIEWED' " name="url_evidence_credit_2"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_2" [disabled]="status_credit_2 === 'VIEWED' " name="value_credit_2">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_2.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_2.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_2.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_2.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_2.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header>
          <ion-card-title>
            Crédito complementario 3
          </ion-card-title>
        </ion-card-header>
              <!-- El null de terminar lo regresa como texto (raro)-->
        <ion-card [ngClass]="{ 'viewed': status_credit_3 === 'VIEWED', 'pending': status_credit_3 === 'PENDING' && name_credit_3 !== 'null'  && description_credit_3 !== 'null'  && url_evidence_credit_3 !== 'null'  && value_credit_3 !== 'null'}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_3" [disabled]="status_credit_3 === 'VIEWED'" name="name_credit_3" ></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_3" [disabled]="status_credit_3 === 'VIEWED' " name="description_credit_3"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_3 " [disabled]="status_credit_3 === 'VIEWED' " name="url_evidence_credit_3"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_3" [disabled]="status_credit_3 === 'VIEWED' " name="value_credit_3">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_3.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_3.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_3.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_3.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_3.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header>
          <ion-card-title>
            Crédito complementario 4
          </ion-card-title>
        </ion-card-header>
              <!-- El null de terminar lo regresa como texto (raro)-->
        <ion-card [ngClass]="{ 'viewed': status_credit_4 === 'VIEWED', 'pending': status_credit_4 === 'PENDING' && name_credit_4 !== 'null'  && description_credit_4 !== 'null'  && url_evidence_credit_4 !== 'null'  && value_credit_4 !== 'null'}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_4 " [disabled]="status_credit_4 === 'VIEWED'" name="name_credit_4"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_4  " [disabled]="status_credit_4 === 'VIEWED' " name="description_credit_4"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_4 " [disabled]="status_credit_4 === 'VIEWED' " name="url_evidence_credit_4"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_4" [disabled]="status_credit_4 === 'VIEWED' " name="value_credit_4">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_4.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_4.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_4.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_4.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_4.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header>
          <ion-card-title>
            Crédito complementario 5
          </ion-card-title>
        </ion-card-header>
              <!-- El null de terminar lo regresa como texto (raro)-->
        <ion-card [ngClass]="{ 'viewed': status_credit_5 === 'VIEWED', 'pending': status_credit_5 === 'PENDING' && name_credit_5 !== ''  && description_credit_5 !== 'null'  && url_evidence_credit_5 !== 'null'  && value_credit_5 !== 'null'}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input  [(ngModel)]="name_credit_5 " [disabled]="status_credit_5 === 'VIEWED' " name="name_credit_5"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_5 " [disabled]="status_credit_5 === 'VIEWED' " name="description_credit_5"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_5 " [disabled]="status_credit_5 === 'VIEWED' " name="url_evidence_credit_5"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_5" [disabled]="status_credit_5 === 'VIEWED' " name="value_credit_5">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_5.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_5.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_5.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_5.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_5.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <!-- Si la variable name_credit_7 es diferente de null se muestra (si es null no se muestra) -->
        <ion-card-header *ngIf="value_credit_6 !== 'null' && value_credit_6 !== '' ">
          <ion-card-title>
            Crédito complementario 6
          </ion-card-title>
        </ion-card-header>
        <ion-card  *ngIf="value_credit_6 !== 'null' && value_credit_6 !== ''  " [ngClass]="{ 'viewed': status_credit_6 === 'VIEWED', 'pending': status_credit_6 === 'PENDING' && name_credit_6 !== ''  && description_credit_6 !== ''  && url_evidence_credit_6 !== ''  && value_credit_6 !== ''}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_6 " [disabled]="status_credit_6 === 'VIEWED'" name="name_credit_6"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_6 " [disabled]="status_credit_6 === 'VIEWED' " name="description_credit_6"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_6 " [disabled]="status_credit_6 === 'VIEWED' " name="url_evidence_credit_6"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_6" [disabled]="status_credit_6 === 'VIEWED' " name="value_credit_6">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_6.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_6.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_6.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_6.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_6.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header *ngIf="value_credit_7 !== 'null' && value_credit_7 !== '' ">
          <ion-card-title>
            Crédito complementario 7
          </ion-card-title>
        </ion-card-header>
        <ion-card  *ngIf="value_credit_7 !== 'null'  && value_credit_7 !== '' " [ngClass]="{ 'viewed': status_credit_7 === 'VIEWED', 'pending': status_credit_7 === 'PENDING' && name_credit_7 !== ''  && description_credit_7 !== ''  && url_evidence_credit_7 !== ''  && value_credit_7 !== '' }">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_7 " [disabled]="status_credit_7 === 'VIEWED'" name="name_credit_7"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_7 " [disabled]="status_credit_7 === 'VIEWED' " name="description_credit_7"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_7 " [disabled]="status_credit_7 === 'VIEWED' " name="url_evidence_credit_7"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_7" [disabled]="status_credit_7 === 'VIEWED' " name="value_credit_7">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_7.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_7.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_7.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_7.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_7.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header *ngIf="value_credit_8 !== 'null'  && value_credit_8 !== ''">
          <ion-card-title>
            Crédito complementario 8
          </ion-card-title>
        </ion-card-header>
        <ion-card  *ngIf="value_credit_8 !== 'null'  && value_credit_8 !== '' " [ngClass]="{ 'viewed': status_credit_8 === 'VIEWED', 'pending': status_credit_8 === 'PENDING' && name_credit_8 !== ''  && description_credit_8 !== ''  && url_evidence_credit_8 !== ''  && value_credit_8 !== ''}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_8 " [disabled]="status_credit_8 === 'VIEWED'"  name="name_credit_8"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_8 " [disabled]="status_credit_8 === 'VIEWED' " name="description_credit_8"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_8 " [disabled]="status_credit_8 === 'VIEWED' " name="url_evidence_credit_8"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_8" [disabled]="status_credit_8 === 'VIEWED' " name="value_credit_8">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_8.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_8.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_8.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_8.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_8.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header *ngIf="value_credit_9 !== 'null'  && value_credit_9 !== '' ">
          <ion-card-title>
            Crédito complementario 9
          </ion-card-title>
        </ion-card-header>
        <ion-card  *ngIf="value_credit_9 !== 'null' && value_credit_9 !== '' " [ngClass]="{ 'viewed': status_credit_9 === 'VIEWED', 'pending': status_credit_9 === 'PENDING' && name_credit_9 !== ''  && description_credit_9 !== ''  && url_evidence_credit_9 !== ''  && value_credit_9 !== '' }">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_9 " [disabled]="status_credit_9 === 'VIEWED'" name="name_credit_9"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_9  " [disabled]="status_credit_9 === 'VIEWED' " name="description_credit_9"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_9 " [disabled]="status_credit_9 === 'VIEWED' " name="url_evidence_credit_9"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_9" [disabled]="status_credit_9 === 'VIEWED' " name="value_credit_9">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_9.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_9.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_9.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_9.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_9.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
        <ion-card-header *ngIf="value_credit_10 !== 'null' && value_credit_10 !== '' ">
          <ion-card-title>
            Crédito complementario 10
          </ion-card-title>
        </ion-card-header>
        <ion-card  *ngIf="value_credit_10 !== 'null' && value_credit_10 !== '' " [ngClass]="{ 'viewed': status_credit_10 === 'VIEWED', 'pending': status_credit_10 === 'PENDING' && name_credit_10 !== ''  && description_credit_10 !== ''  && url_evidence_credit_10 !== ''  && value_credit_10 !== ''}">
          <ion-item lines="full">
            <ion-label position="stacked">Actividad</ion-label>
            <ion-input [(ngModel)]="name_credit_10 " [disabled]="status_credit_10 === 'VIEWED'" name="name_credit_10"></ion-input>
          </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Descripción</ion-label>
          <ion-input [(ngModel)]="description_credit_10  " [disabled]="status_credit_10 === 'VIEWED' " name="description_credit_10"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Evidencia</ion-label>
          <ion-input [(ngModel)]="url_evidence_credit_10 " [disabled]="status_credit_10 === 'VIEWED' " name="url_evidence_credit_10"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Créditos</ion-label>
          <ion-select [(ngModel)]="value_credit_10" [disabled]="status_credit_10 === 'VIEWED' " name="value_credit_10">
            <ion-select-option value="0.5">0.5</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="1.5">1.5</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-icon name="checkmark-circle-outline" style="color:#99ddc2;" slot="end" *ngIf="status_credit_10.includes('VIEWED')"></ion-icon>
          <ion-label *ngIf="status_credit_10.includes('VIEWED')" class="viewed-label">Revisado</ion-label>
          <ion-icon name="time-outline"slot="end" *ngIf="status_credit_10.includes('PENDING')"></ion-icon>
          <ion-label *ngIf="status_credit_10.includes('PENDING')" class="pending-label">Pendiente</ion-label>
          <ion-label *ngIf="status_credit_10.includes('ERASER')" class="pending-label " style="color:white"></ion-label>
        </ion-item>
        </ion-card>
      </form>
    </ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5">
          <button (click)="BotAgregarC()" [disabled]="deletebuton()" class="hbutton">Agregar campo</button>
        </ion-col>
        <ion-col size="5">
          <button (click)="BorrarCampo()" [disabled]="deletebuton()" class="hbutton">Borrar campo</button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5">
          <button (click)="BorradorCred()"  [disabled]="deletebuton()" class="hbutton"> Enviar Borrador</button>
        </ion-col>
        <ion-col size="5">
          <button (click)="deleteCredit()"  [disabled]="deletebuton()" class="hbutton"> Borrar solicitud</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
