<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button defaultHref="inicio"> </ion-back-button>
      </ion-button>

    <ion-title>Créditos complementarios</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-content>
    Aquí podrás realizar tu trámite para validar tus créditos complementarios.  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----> 
      <ion-row>
        <ion-col>
          <h4>Crédito complementario 1</h4>
          <ion-row>
            <ion-col size="3">
              <ion-label position="stacked">Actividad</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Descripción</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Evidencia</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-label position="stacked">Créditos</ion-label>
              <ion-item>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      
     
    </ion-grid>
  </ion-card-content>
</ion-card>
    
</ion-content>

