ion-card-title{
    font-size: 1.4rem;
    text-align: center;
}
ion-toolbar ion-title{
    font-size: 1rem;
}
ion-card-content h1{
    color: white;
    font-weight: bold;
}
ion-card-content p{
    color: white;
}
.red{
    background-color: #801E18;;
}