<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<ion-content>
  <div class="padt">
    <h1 class="pd">MAIA PLATFORM</h1>
    <h3 class="pd2">Bienvenido de vuelta</h3>
  </div>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Correo electrónico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item fill="outline">
          <ion-input type="email" [(ngModel)]="email" [clearInput]="true"></ion-input>
        <ion-note slot="error">Email inválido</ion-note>
      </ion-item>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item fill="outline">
          <ion-input type="password" [(ngModel)]="password" [clearInput]="true"></ion-input>
        <ion-note slot="error">Email inválido</ion-note>
      </ion-item>
    </ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" expand="full" (click)="login()">Iniciar sesión</ion-button>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>