
.creditos-boton{

margin-top: 20px;

}

ion-card{
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20%;
}
.hbutton{
    height: 50vmin;
    width: 35vmin;
    margin-bottom: 1rem;
}
button{
    font-size: 1rem;
    background-color: #3880ff;
    border-radius: 15px;
}
.isize{
    font-size: 6rem;
    color: white;
}
#circle {
    background: #e0254a;
    border-radius: 50%;
    width: 150vw;
    height: 70vh;
    right: -24.6vw;
    top: -45vh;
    position: fixed;
    z-index: -1;
    margin: 0;
  } 