<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>inicio</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="logout()">Logout
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-content>
      <p>Nombre: {{ fullname }}</p>
      <p>Email: {{ emailU }}</p>
    </ion-card-content>
    
  </ion-card>

  <ion-button (click)="redirectToCred()">Creditos 
    <ion-icon name="school-outline"></ion-icon>
  </ion-button>

  <ion-button  class="creditos-boton"(click)="redirectToUrl()">
    Banco de proyectos
  </ion-button>
  
  
    
    
  
</ion-content>




