
.creditos-boton{

margin-top: 20px;

}

ion-card{
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20%;
}
.hbutton{
    height: 50vmin;
    width: 35vmin;
    margin-bottom: 1rem;
}
button{
    font-size: 1rem;
    background-color: #3880ff;
    border-radius: 15px;
}
.isize{
    font-size: 6rem;
}